@charset "UTF-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    font-size: 100%;
    margin: 0 auto;
    width: 900px;
}

header {
    background-color: #fff;
    /*background-image: url("../img/title-background1.jpg");*/
    background-size: 100% 100%;
    min-height: 300px;
}

h1 {
    color: #fff;
    padding: 189px 119px 26px 83px;
}

nav {
    background-color: #fff;
    float: center; 
    min-height: 600px;
    width: 300px;
}

.main-nav {
    background-color:#fff;
    padding-top: 30px;
}

.main-nav li {
    list-style-type: none;
    padding: 20px;
    text-align: center;  
}

.main-nav li a:link {
    text-decoration: none;
}



li {
list-style-type: none;
}


.nav-links:link {
    color: #F9C4C5;
    text-decoration:none;
    
}

.nav-links:visited {
    color: #F9C4C5;
    text-decoration:none;
}

.nav-links:hover {
    color: lightblue;
    
    
}

.current-page {
    font-size: 1.4em;
    font-weight: bold;
}

article {
    background-color: #FFFFFF;
    padding-bottom: 20px; 
	padding-left: 10px;
}

.reference-image {
    left: 150px;
    padding: 10px 10px 15px 0;
    position: relative;
}

h1 {
    background-color: #FFFFFF;
    color: #000000;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 2.1875em;
    padding: 40px 25px 25px 15px;
    
    
}

.wrapper {
    overflow: hidden;
}

h2 {
    background-color:#FBE9E9;
    color: #FBC2C3;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 2em;
    text-align: center;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-top: 30px;
}

h3 {
    background-color:#FFFFFF;
    color: #FBC2C3;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 1.5em;
    font-style: bold;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-top: 30px;

}
p {
    color: #000000;
    font-size: .9375em;
    padding: 5px;
    padding-left: 40px;
	padding-bottom: 5px;
}


#page {
    text-align: center;
    width: 960px;
    margin: 10px auto -1px auto;
    padding: 15px;
    
}
.InsideContent{
    display:inline-block;
    
}
}
#divTable {
    width: 800px;
}
#divMessage {
    width: 350px;
}

/*styles gallery*/

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    max-width: 900px;
    min-width: 600px;
}

.gallery figure {
    color: blue;
    float: center;
    height: 190px;
    margin: 20px;
    text-align: center;
    width: 28%;
}


footer{
    text-align:center;
    
}


/*ghost buttons-----------*/



.ghost-button-semi-transparent {
  display: inline-block;
  width: 70px;
  padding: 8px;
  color: #FBC2C3;
  border: 2px solid #FBC2C3;
  text-align: center;
  outline: none;
  text-decoration: none;
  margin-bottom: 2%;
  transition: background-color 0.2s ease-out,
              border-color 0.2s ease-out;
}
.ghost-button-semi-transparent:hover,
.ghost-button-semi-transparent:active {
  background-color: #fff; /* fallback */
  background-color: rgba(255, 255, 255, 0.4);
  border-color: #fff; /* fallback */
  border-color: rgba(255, 255, 255, 0.4);
  transition: background-color 0.3s ease-in,
              border-color 0.3s ease-in;
}

.ghost-button-size-transition {
  display: inline-block;
  width: 70px;
  height: 25px;
  line-height: 25px;
  margin: 0 auto;
  padding: 8px;
  color: #FBC2C3;
  border: 2px solid #FBC2C3;
  text-align: center;
  font-weight: bold;
  outline: none;
  text-decoration: none;
  transition: width 0.3s ease-out,
              height 0.3s ease-out,
              line-height 0.3s ease-out;
}
.ghost-button-size-transition:hover,
.ghost-button-size-transition:active {
  width: 75px;
  height: 35px;
  line-height: 35px;
  transition: width 0.1s ease-in,
              height 0.1s ease-in,
              line-height 0.1s ease-in;
}


