/* The default style sheet for this site. */


/*Reset browser's own internal CSS stylesheet before reading this file. */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
    margin: 0 auto;
    max-width: 800px;
}

header {
    background-color: #E6E6E6;
    min-height: 150px;
    overflow: hidden;
}

.page-title {
    margin-left: 2em;
    margin-top: 1em;
}

figure.site-logo {
    float: left;
    width: 30%;
}

.site-logo img {
    padding-left: 2em;
}

nav {
    float: left;
    width: 70%;
}

nav ul {
    margin-top: 1em;
}

nav li {
    background-color: orange;
    display: inline-block;
    margin: 0 3em;
}

.wrapper {
    overflow: hidden;
}

article {
    background-color: green;
}

.section1 {
    background-color: yellow;
    float: left;
    margin-bottom: -9999px;
    min-height: 150px;
    padding-bottom: 9999px;
    width: 50%;
}

.section2 {
    background-color: white;
    float: right;
    min-height: 250px;
    width: 50%;
}

footer {
    background-color: #E6E6E6;
    clear: both;
    min-height: 100px;
}
