/* CSS Document */
*{
    margin:0;
    padding:0;
}


body {
    font-family: 'Arimo', sans-serif, bold;

    font-size: 100%;
    font-weight: 400;
    margin: 0 auto;
    max-width: 50em;
    background-color: #FBC2C3;
}

header {
    max-width: 100%;
    min-height: 5em;
    background-color: #FBC2C3;
}

.logo-type {
    color: #ffffff;
}

.page-wrapper {
    background-color: #FBC2C3;
    min-height: 10em;
    padding-top: 6em;
    width: 100%;
}

.logo-box {
    background-color: #fcd1d2;
    border-color: #FBC2C3;
    border-style: solid;
    border-width: .5em;
    display: block;

    margin: 0 auto;
    /*transition: transform 2s;*/
    width: 90%;
    margin-top: -5.5em;
}

.logo-box:hover {
    animation: grow 2s ease-in-out;
    /*transform: scale(1.1);*/
}

@keyframes grow {
    0% {
        transform: scale(1, 1);
        background-color: #FBC2C3;
    }
    50% {
        transform: scale(1.2, 1.2);
        background-color: #FBC2C3;
    }
    100% {
        transform: scale(1, 1);
        background-color: #FBE9E9;
    }
}

.logo-type {
    font-size: 8em;
    letter-spacing: -0.05em;
    margin: .1em;
    overflow: hidden;
    padding-top: 1.7%;
    position: relative;
    text-align: center;
    color: #FBE9E9;
}


/*------------------------------------------*/

body {
   font-family: 'Inconsolata', monospace;
    font-size: 100%;
    margin: 0 auto;
    width: 900px;


}


header {
    background-color: #FBC2C3;
    text-align: center;
    padding-top: 50px;
    
}


article {
    background-color: #FBC2C3;
    padding-bottom: 70px; 
	padding-left: 10px;
    text-align: center;
    
}



h1 {
    background-color: #FBC2C3;
    color: #000000;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 8.5em;
    padding: 80px 10px 25px 40px;
    
    
}



.wrapper {
    overflow: hidden;
}







/*---------MAIN NAVIGATION----------------------------------------------------------*/
.nav-links:link {
    color: #F9C4C5;
    text-decoration:none;
    
}

.nav-links:link {
    color: #F9C4C5;
    text-decoration:none;
    
}

.nav-links:visited {
    color: #F9C4C5;
    text-decoration:none;
}

nav {
    background-color: #fff;
    padding-bottom: 10px;
    padding-top: 10px;
    
}

nav ul {
     text-align: center;
   
}

li {
    list-style-type: none;
}

nav li {
    color: #fff;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    
    
  
    
    
}

.main-nav li a:link {
    color: #FBC2C3;
    text-decoration: none;
}

.main-nav li a:visited {
    color: #FBC2C3;
}

.main-nav li a:hover {
    color: #FBE9E9;
}

.main-nav a:active {
    color: #FBC2C3;
}

.active-page .current-page-item a {
    font-size: 1.4em;
    font-weight: bold;
}





/*ghost buttons------------------------------------------------------------------------------------------------------------*/


.ghost-button-size-transition {
  display: inline-block;
  width: 200px;
  height: 25px;
  line-height: 25px;
  margin: 0 auto;
  padding: 8px;
  color: #000000;
  border: 3px solid #000000;
  text-align: center;
  font-weight: bold;
  outline: none;
  text-decoration: none;
  transition: width 0.3s ease-out,
              height 0.3s ease-out,
              line-height 0.3s ease-out;
}
.ghost-button-size-transition:hover,
.ghost-button-size-transition:active {
  width: 220px;
  height: 45px;
  line-height: 45px;
  transition: width 0.1s ease-in,
              height 0.1s ease-in,
              line-height 0.1s ease-in;
}









footer{
    text-align:center;
    
}







