/* CSS Document */
*{
    margin:0;
    padding:0;
}


body {
   font-family: 'Inconsolata', monospace;
    font-size: 100%;
    margin: 0 auto;
    width: 900px;

}

header {
    background-color: #FFFFFF;
    text-align: center;
    padding-top: 50px;
    
}


article {
    background-color: #FFFFFF;
    padding-bottom: 20px; 
	padding-left: 10px;
    text-align: center;
    
}

.reference-image {
    left: 150px;
    padding: 10px 10px 15px 0;
    position: relative;
}

h1 {
    background-color: #FFFFFF;
    color: #000000;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 8.5em;
    padding: 80px 10px 25px 40px;
    
    
}

.wrapper {
    overflow: hidden;
}



h2 {
    background-color:#FFFFFF;
    color: #000000;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 2.2em;
    text-align: center;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-top: 30px;
}

h3 {
    background-color:#FFFFFF;
    color: #FBC2C3;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 1.3em;
    font-weight: bold;
    padding-left: 40px;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;

}
p {
    color: #000000;
    font-size: .9375em;
    padding: 5px;
    padding-left: 40px;
    text-align: center;
}


.page {
    text-align: center;
    width: 960px;
    margin: 10px auto -1px auto;
    padding: 15px;
    
}



/*---------MAIN NAVIGATION----------------------------------------------------------*/
.nav-links:link {
    color: #F9C4C5;
    text-decoration:none;
    
}

.nav-links:link {
    color: #F9C4C5;
    text-decoration:none;
    
}

.nav-links:visited {
    color: #F9C4C5;
    text-decoration:none;
}

nav {
    background-color: #fff;
    padding-bottom: 10px;
    padding-top: 10px;
    
}

nav ul {
     text-align: center;
   
}

li {
    list-style-type: none;
}

nav li {
    color: #fff;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    
    
  
    
    
}

.main-nav li a:link {
    color: #FBC2C3;
    text-decoration: none;
}

.main-nav li a:visited {
    color: #FBC2C3;
}

.main-nav li a:hover {
    color: #FBE9E9;
}

.main-nav a:active {
    color: #FBC2C3;
}

.active-page .current-page-item a {
    font-size: 1.4em;
    font-weight: bold;
}


/* Default state of sub-navigation */

/*drop down menu----------------------------------------------------------------------------------------------------------*/

/* Default state of sub-navigation */

.subnav {
    font-size: .9375em;
    left: -999em;
    /* moves subnav off screen */
    margin-left: -18px;
    position: absolute;
    z-index: 1000;
    /* In this case this isn't needed but it's good practice to specify the position of of an absolutely positioned element in it's stack. */
}


/* State of sub-navigation when parent li hovered upon */

.main-nav li:hover .subnav {
    display: block;
    /* This is actually redundant. The nav is a block element by default. */
    left: auto;
    /* puts subnav back in natural spot */
    width: 10em;
    text-decoration-color: #FBC2C3;
}

.main-nav .subnav li {
    background-color: #fff7f7;
    float: left;
    font-size: 1em;
    padding: 15px 20px 15px 20px;
}

.main-nav .subnav li:last-child {
    padding-bottom: 25px;
}

/*slideshow gallery-------------------------------------------------------------------------------------------------------*/

main {
    background-color: #fff;
    min-height: 600px;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}

figure {
    /*text-align: center;*/
}

figure img {
     height: auto;
    /*margin: 25px;*/
    /*margin-bottom: 10px;*/
     width: 50%;
}

figcaption {
    color: white;
    padding-bottom: 15px;
    text-align: center;
}

footer {
    background-color: #fff;
    min-height: 50px;
}

footer ul {
    list-style-type: none;
    text-align: center;
}

footer li {
    display: inline-block;
    padding: 30px;
}



/*ghost buttons------------------------------------------------------------------------------------------------------------*/

.ghost-button {
  display: inline-block;
  width: 80px;
  padding: 3px;
  color: #000000;
  border: 2px solid #000000;
  text-align: center;
  outline: none;
  text-decoration: none;
  padding-left: 80px;
  padding-right: 80px;
  margin-left: 5%;
  


}

.ghost-button:hover,
.ghost-button:active {
  background-color: #FBE9E9;
  border: 2px solid #FBE9E9;
  color: #000;
}

.ghost-button-size-transition {
  display: inline-block;
  width: 200px;
  height: 25px;
  line-height: 25px;
  margin: 0 auto;
  padding: 8px;
  color: #000000;
  border: 3px solid #000000;
  text-align: center;
  font-weight: bold;
  outline: none;
  text-decoration: none;
  transition: width 0.3s ease-out,
              height 0.3s ease-out,
              line-height 0.3s ease-out;
}
.ghost-button-size-transition:hover,
.ghost-button-size-transition:active {
  width: 220px;
  height: 45px;
  line-height: 45px;
  transition: width 0.1s ease-in,
              height 0.1s ease-in,
              line-height 0.1s ease-in;
}

.ghost-button-border-color {
  display: inline-block;
  width: 120px;
  height: 120px;
  padding: 8px;
  color: #FBC2C3;
  border: 8px solid #FBC2C3;
  text-align: center;
  display:table-cell;
  vertical-align:middle;
  margin-top: 10px;
  font-size: 4em;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-weight: bold;
  outline: none;
  text-decoration: none;
  transition: border-color 0.3s ease-out,
              color 0.3s ease-out;
}

.ghost-button-border-color:hover,
.ghost-button-border-color:active {
  color: #FBE9E9;
  border-color: #FBE9E9;
  transition: border-color 0.4s ease-in,
              color 0.4s ease-in;
    
}




/*styles gallery----------------------------------------------------------------------------------------------------------*/


body {
    margin: 0 auto;
    max-width: 300px;
    min-width: 820px;
}

.gallery figure {
    color: blue;
    float: left;
    height: 160px;
    margin: 1px;
    width: 28%;
    padding-top: 50px;

    
}


footer{
    text-align:center;
    
}

figure {
    -webkit-border-radius: 1px;
    height: 9.375em;
    margin: 5em 0 0 0;
    overflow: hidden;
    position: relative;
    width: 28.1%;
    
    
}

.thumbnail-1 {
    padding-left: 100px;
    float: left;
    margin-left: 2em;
    
}

.thumbnail-2 {
    float: right;
    margin-right: 2em;
}

.thumbnail-3 {
    float: right;
    margin-right: 2em;
}




/*contact form------------------------------------------------------------------------------------------------------------*/

input[type=text] {
    font-family: 'Inconsolata', monospace;
    font-size: 1em;
    width: 70%;
    height: 10%;
    margin: 8px 0;
    margin-left: 5%;
    box-sizing: border-box;
    border: 2px solid #000000;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #FBE9E9;
}

textarea {
    font-family: 'Inconsolata', monospace;
    width: 70%;
    margin: 8px 0;
    margin-left: 5%;
    box-sizing: border-box;
    border: 2px solid #000000;
    background-color: #FFFFFF;
    font-size: 16px;
    resize: none;
}


/*about--------------------------------------------------------------------------------------------------------------------*/

.boxed-1 {
  border: 2px solid #FBC2C3 ;
  width: 60px;
  height:20px;
  margin-left: 30%;
  margin-top: 10%;
  text-align: justify;
}

.boxed-2 {
  border: 2px solid #fff ;
  width: 350px;
  height:240px;
  margin-top: 2%;
  margin-left: 30%;
  
  text-align: justify;
}

/*overflow layout---------------------------------------------------------------------------------------------------------*/

.story {
    background-color: yellow;
    border-color: blue;
    border-style: solid;
    border-width: 3px;
    margin: 2em 3em;
    overflow: hidden;
}

.story .text-content {
    float: left;
    margin-left: 3em;
    margin-top: 2em;
    padding-top: 5em;
    position: relative;
    text-align: center;
    width: 45%;
}

section .article-image {
    float: left;
    margin-bottom: 2em;
    margin-top: 2em;
    position: relative;
    width: 15%;
}
