/* The default style sheet for this site. */


/*Reset browser's own internal CSS stylesheet before reading this file. */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
    margin: 0 auto;
    max-width: 800px;
}

/*
.wrapper {
    overflow: hidden;
}
*/


/* .site-logo {
    margin-left: 2.75em;
}
*/


/*
.site-logo img {
    height: auto;
    max-width: 75%;
}
*/

header {
    background-color: #E6E6E6;
    /* float: left; */
    /* margin-bottom: -9999px; */
    /* padding-bottom: 9999px; */
    width: 30%;
}

.page-title {
    /* text-align: center; */
}

ul {
    margin: 20px;
    text-align: center;
}

nav li {
    background-color: orange;
    margin-top: 60px;
}

article {
    background-color: green;
    /* float: right; */
    /*  padding-bottom: 2em; */
    width: 70%;
}

.article-title {
    color: white;
    /*  margin-bottom: 1em; */
    /*  margin-top: 2em; */
    text-align: center;
}

section {
    margin: 0 auto;
}

.section1 {
    background-color: yellow;
    min-height: 250px;
    text-align: center;
    width: 75%;
}

.section2 {
    background-color: white;
    min-height: 300px;
    text-align: center;
    width: 75%;
}

footer {
    background-color: #E6E6E6;
    /* clear: both; */
    min-height: 100px;
}
